.cache
.lazyyyyy
.mixin.out
automodpack
blueprints
cachedImages
crash-reports
data
defaultconfigs
DiscordIntegration-Data
Distant_Horizons_server_data
downloads
ESM
fancymenu_data
local
logs
modernfix
mods
patchouli_books
profileImage
resourcepacks
saves
schematics
screenshots
shaderpacks
xaero
.curseclient
.qmenu_opened.marker
Expanded Mechanics 2 dev.ico
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
user-prefs.json
usercache.json
usernamecache.json
options.txt
